.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navBarStyle {
  line-height: 3;
  background-color: #6008cc;
}

.label {
  /* margin-left: .5em;
  margin-right: 1em; */
  color: white;
}

input {
  line-height: 1.5em;
}

.login {
  margin-right: 15em;
}

.Navbar .navbar-brand {
  /* margin-left: 15em; */
  color: white;
  font-size: 3em;
  min-height: 100px;
  margin-top: 1.5em;
}

.short-text { 
  display: none; 
}
/* large phones and small tablets */
/* 500px / 16px = 31.25em */
@media screen and (min-width: 31.25em) {

  .login {
    margin-left: 6.25em;
  } 

  .navBarStyle {
    line-height: 3em;
  }

  .login-btn {
    margin-top: 1em;
    margin-bottom: .5em;
  }

  .login input {
    margin-top: .25em;
    margin-bottom: .25em;
  }

  .short-text { 
    display: inline-block; 
    margin-left: 0;
    font-size: .75em;
  }

  .full-text { 
    display: none; 
  }

  .Navbar .navbar-brand {
    margin-top: auto;
    margin-bottom: .2em;
    min-height: 0;
  }

  input {
    max-width: 8em;
    margin-left: .75em;
    margin-right: .75em;
    max-height: 2em;
    margin-bottom: .5em;
  }

  .login {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  form .btn {
    max-width: 5em;
    line-height: .85em;
  }
}

/* tablets and small monitors */
/* 800px / 16px = 50em */
/* @media screen and (min-width: 50em) {
  .Navbar .navbar-brand {
    margin-left: 2em;
  }
} */

/* laptops and desktops */
/* 1200px / 16px = 75em */
@media screen and (min-width: 75em) {
  .short-text { 
    display: none; 
  }

  .full-text { 
    display: inline-block; 
    margin-top: .5em;
  }

}
