.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navBarStyle {
  line-height: 3;
  background-color: #6008cc;
}

.label {
  /* margin-left: .5em;
  margin-right: 1em; */
  color: white;
}

input {
  line-height: 1.5em;
}

.login {
  margin-right: 15em;
}

.Navbar .navbar-brand {
  /* margin-left: 15em; */
  color: white;
  font-size: 3em;
  min-height: 100px;
  margin-top: 1.5em;
}

/* large phones and small tablets */
/* 500px / 16px = 31.25em */
@media screen and (min-width: 31.25em) {
  .Navbar .navbar-brand {
    margin-left: 4.5em;
  }

  .login {
    margin-top: 0;
    margin-left: 5.6em;
  } 

  .label {
    display: inline;
  } 

  .navBarStyle {
    line-height: 1.5em;
  }
}

/* tablets and small monitors */
/* 800px / 16px = 50em */
/* @media screen and (min-width: 50em) {
  .Navbar .navbar-brand {
    margin-left: 2em;
  }
} */

/* laptops and desktops */
/* 1200px / 16px = 75em */
/* @media screen and (min-width: 75em) {
  .Navbar .navbar-brand {
    margin-left: 0;
  }
} */
